extends base

block content 
    h4 Upload title of Video   
        form(method="POST")
            input(name="title", placeholder="Video Title", value="", required)
            input(value="Save",type="submit") 